.admin-manage-books-main-content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: margin-left 0.3s ease;
  border-radius: 22px;
  margin: 20px;
}

.manage-books-buttons-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80px;
  width: 60%;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}


.add-book-btn {
  background-color: #03045e;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 0 11px;
  padding: 11px 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-book-btn:hover {
  background-color: #fca311;
  transform: translateY(-6px);
}


.view-book-btn {
  background-color: #03045e;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 0 11px;
  padding: 11px 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-book-btn:hover {
  background-color: #fca311;
  transform: translateY(-6px);
}


.issue-book-btn {
  background-color: #03045e;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 0 11px;
  padding: 11px 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.issue-book-btn:hover {
  background-color: #fca311;
  transform: translateY(-6px);
}

.return-book-btn {
  background-color: #03045e;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 0 11px;
  padding: 11px 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.return-book-btn:hover {
  background-color: #fca311;
  transform: translateY(-6px);
}