.header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #f0f4ff;
    border-bottom: 1px solid #03045E
}

.bookmark-ribbon {
  position: absolute;
  right: 0;
  width: 231px;
  height: 31px;
  background-color: #03045E;
  border-radius: 20px;
  /* clip-path: polygon(20px 0, 100% 0, 100% 100%, 20px 100%, 0 50%); */
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  top: 6px;
  right: 20px;
  letter-spacing: 1px;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.bookmark-text {
  padding-left: 1.5rem;
  font-size: 12px;
}

.bookmark-text a {
  color: white;
  margin-left: 22px;
  font-size: 1rem;
  align-items: center;
  transition: color 0.3s ease;
}

.bookmark-text a:hover {
  color: #FCA311;
}


.maimtLogo{
    position: absolute;
    height: 80px;
    width: 80px;
    left: 60px;
}

.heading-line{
    position: absolute;
    left: 160px;
    color: #03045E;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    top: 15%;
}

.heading-line-fullform{
  position: absolute;
    left: 160px;
    color: #03045E;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    top: 40%;
}

.contact-info {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  bottom: 11px;
  right: 80px;
  font-weight: 500;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-item a {
  display: flex;
  align-items: center;
  color: #03045E;
  text-decoration: none;
  transition: color 0.3s ease;
}

.icon {
  font-size: 16px;
  cursor: pointer;
}

.icon:hover {
  color: #FCA311;
}

.icon:active{
  font-size: 14px;
}